
#az {
  font-size: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

p{
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
 margin-top: 10%;
 font-family: 'Reenie Beanie', cursive;
 background-color: #FFF4DE;
}
