
@media (min-width: 400px){
  .image1 {
    display: none;
  }
  .image2 {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 550px) {

  .image1 {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .image2 {
    display: none;
  }

}

* {
  font-family: 'Athiti', sans-serif;
}

.homepage {
  padding-top: 20px;
  padding-bottom: 200px;
  background: url(https://jeremy-liss.github.io/images/stpauls.jpg) center;
}


.button {
  background: #fd734e;
}


.about-button {
  padding-left: 14px;
  padding-bottom: 10px;
  text-align: right;

}

.links {
  padding: 20px;
  background: #fdfeee;
}

.heading {
  margin-top: 80px;
  padding-bottom: 20px;
  color: #fd734e;
  text-align: right;
}

.sub {
  color: #fd734e;
  text-align: right;
  padding-bottom: 10px;
}


.home-button {
  padding-top: 15px;
  padding-left: 40px;
}

img {
  max-width: 100%;
}

a:link {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}
