
@media (min-width: 400px){
  .image1 {
    display: none;
  }
  .image2 {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 550px) {

  .image1 {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .image2 {
    display: none;
  }

}

* {
  font-family: 'Lato', sans-serif;
}

.homepage {
  padding-top: 20px;
  padding-bottom: 200px;
  background: url(https://jeremy-liss.github.io/images/stpauls.jpg) center;
}


.button {
  background: #fd734e;
}


.about-button {
  padding-left: 14px;
  padding-bottom: 10px;
  text-align: right;

}

.links {
  padding: 20px;
  background: #fdfeee;
  text-align: center;
}

.heading {
  margin-top: 7%;
  color: #f7f7ef;
  text-align: center;
  text-shadow: 2px 2px black;
}

.sub {
  color: #fd734e;
  text-align: right;
  padding-bottom: 10px;
}


.home-button {
  padding-top: 15px;
  padding-left: 40px;
}

img {
  max-width: 100%;
}

a:link {
  color: #f7f7ef;
  text-decoration: none;
}

a:visited {
  color: #f7f7ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
}
